@use'../custom' as *;
#carouselExampleDark{

    .carousel-inner{
        
            .img-bg{
                filter: grayscale(0.9);
                height: 700px;
                @include media-breakpoint-down(sm){
                    height: 550px;
                }
                
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                
            }
           
            .caption-slide{
                top: 0%;
                margin: auto;
                
                .img-text{
                    margin: auto;
                    object-fit: contain;
                    max-height: 20rem;
                    @include media-breakpoint-down(sm){
                        max-height: 15rem;
                    }
                }

                &__caption1{
                    padding-top: 10rem;    
                        .title-cap{
                            background-color: rgba(255, 255, 255, 0.5);
                            border-radius: 3%;
                            color: $blue;
                            font-size: 2rem;
                            padding: 5% 10%;
                            font-weight: 600;
                            button{
                                font-size: 1rem;
                            }
                            @include media-breakpoint-down(sm){
                                font-size: 1.2rem;
                            }
                        }
                        p{
                            color: black;
                            font-size: 2rem;
                            font-weight: 600;
                            padding: 3% 0%;
                            @include media-breakpoint-down(sm){
                                font-size: 1rem;
                            }
                        }
                }

                &__caption2{
                    padding-top: 10rem !important;
                    @include media-breakpoint-down(sm){
                        padding-top: 5%;
                    }
                    
                    .title-cap{
                        // background-color: rgba(42, 49, 132, 0.5);
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 5%;
                        padding: 5% 5%;
                        color: $blue;
                        font-size: 2rem;
                        font-weight: 600;
                        @include media-breakpoint-down(sm){
                            font-size: 1.3rem;
                        }
                        p{
                            color: black;
                            font-size: 2rem;
                            padding: 3% 0%;
                            @include media-breakpoint-down(sm){
                                font-size: 1rem;
                            }
                        }
                    }
                }
                
                &__caption3{
                    padding-top: 10rem !important;
                    @include media-breakpoint-down(sm){
                        padding-top: 5%;
                    }
                    
                    .title-cap{
                        // background-color: rgba(42, 49, 132, 0.5);
                        background-color: rgba(255, 255, 255, 0.5);
                        border-radius: 5%;
                        padding: 5% 5%;
                        color: $blue;
                        font-size: 2rem;
                        font-weight: 600;
                        @include media-breakpoint-down(sm){
                            font-size: 1.3rem;
                        }
                        p{
                            color: black;
                            font-size: 2rem;
                            padding: 3% 0%;
                            @include media-breakpoint-down(sm){
                                font-size: 1rem;
                            }
                        }
                    }
                }

               
            }

        
    }
}
